.cart-page {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: min(80em, 100%);

    padding: 1em;
}

.cart-page__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.cart-page .title {
    padding: 0;

    margin-bottom: 0.5em;

    position: relative;
}

.cart-page .title::after {
    background-color: #bbb;
    width: 100%;
    height: 1px;

    content: "";
    position: absolute;
    bottom: calc(-0.25em + 0.5px);
    left: 0;
}

.item-total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.5em;

    padding: 1em;
    border-radius: 0.5em;
    -webkit-box-shadow: var(--bottom-shadow);
    box-shadow: var(--bottom-shadow);
}

.item-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1em;
}

.item-container__outer {
    -webkit-box-shadow: var(--bottom-shadow);
    box-shadow: var(--bottom-shadow);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    border-radius: 0.5em;

    padding: 1em;
}

.item-container__outer .MuiAlert-root {
    margin-top: 0.5em;
}

.item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 1em;

    position: relative;
}

.item-data__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.5em;

    -webkit-box-flex: 1;

    -ms-flex: 1;

    flex: 1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.item-image {
    margin: auto 0;
    height: 10em;
    width: calc(35% - 1em);
    aspect-ratio: 1/1;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.item-name {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    font-size: 1.5em;
}

.item-quantity__container {
    position: relative;
}

.item-quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5em;

    margin-top: 0.5em;
}

.update-button {
    margin-top: 0.5em;
}

.item-price {
    font-size: 1.5em;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
}

.item-price__symbol {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    font-size: 0.5em;
    line-height: 100%;
    padding-top: 0.2em;
}

.remove-item {
    text-decoration: none;
    margin-left: 0.5em;

    position: relative;
}

.remove-item::before {
    background-color: #bbb;
    width: 1px;
    height: 100%;

    content: "";
    position: absolute;
    left: calc(-0.5em + 0.5px);
    top: 0;
}

.remove-item:after {
    background-color: transparent;
    width: 100%;
    height: 1px;

    content: "";
    position: absolute;
    bottom: 1.6px;
    right: 0;

    -webkit-transition: all 0.3s ease-in-out;

    -o-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;
}

.remove-item:hover:after {
    background-color: var(--green);
}

.alert-not-rounded {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.cart-page .button-group * {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.item-subtotal {
    text-align: end;
    position: relative;

    margin-top: 1em;
}

.item-subtotal::before {
    background-color: #bbb;
    width: 100%;
    height: 0.5px;

    content: "";
    position: absolute;
    top: calc(-0.5em + 0.5px);
    left: 0;
}

.cart-page .correlated-products,
.correlated-products__title {
    display: none;
}

.blockClick {
    pointer-events: none;
    color: var(--faded-text);
}

@media screen and (min-width: 900px) {
    .cart-page__main {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 1.5em;
    }

    .item-layout {
        -webkit-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
    }

    .side-section {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;

        height: -webkit-fit-content;

        height: -moz-fit-content;

        height: fit-content;
    }

    .cart-page .correlated-products {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        padding: 0;

        overflow: visible;
    }

    .cart-page .correlated-products__title {
        display: inherit;

        font-size: 1.5em;
        font-weight: bold;

        margin: 1em 0 0.25em;
    }
}
