.completed-order {
    padding: 2em 3em;
    -webkit-box-shadow: var(--bottom-shadow);
    box-shadow: var(--bottom-shadow);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1em;
}

.completed-order__title {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

.completed-order__message {
    text-align: center;
    margin-bottom: 5em;
}

.completed-order__info:not(.total) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.5em;
}

.completed-order__info__title {
    font-size: 1.25em;
}

.completed-order__info-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    color: var(--faded-text);
}

.completed-order__buttons-container {
    width: min(40em, 100%);
    margin: 0 auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0.5em;
}

.completed-order__buttons-container__inner {
    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1em;
}

.completed-order__button {
    width: 100%;
}

.completed-order__info.total * {
    color: var(--text-color);

    margin-bottom: 1em;
}
