.forgot-password,
.reset-password {
    width: min(25em, 80%);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    gap: 1em;
    margin: 2em;
}

.forgot-password__form,
.reset-password__form {
    width: 100%;
    -webkit-box-shadow: var(--bottom-shadow);
    box-shadow: var(--bottom-shadow);
    border-radius: 0.5em;
    padding: 1.5em;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    gap: 1em;
}

.logo-container {
    height: 7.5em;
}

.logo-container > svg {
    height: 100%;
}

.forgot-password__form .form-title,
.reset-password__form .form-title {
    width: 100%;

    font-size: 2em;

    font-weight: bold;
}
