.products-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5em, 1fr));

    gap: 1em;
}

.product-panel {
    background-color: #fff;
    border-radius: 0.5em;
    -webkit-box-shadow: var(--bottom-shadow);
    box-shadow: var(--bottom-shadow);

    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    padding: 1em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.product-panel:not(.disable-hover):hover,
.product-panel:not(.disable-hover):active {
    -webkit-box-shadow: 0em 0em 0.7em 0.3em #ccc;
    box-shadow: 0em 0em 0.7em 0.3em #ccc;
}

.product-panel .product-image {
    height: 15em;
    width: 100%;

    background-image: -o-linear-gradient(45deg, #ccc, #fff, #ccc);

    background-image: linear-gradient(45deg, #ccc, #fff, #ccc);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    border-radius: 0.25em;
}

.product-panel .product-name {
    width: 100%;
    margin: 0;
    margin-top: 0.5em;

    font-size: 1.25em;

    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product-panel .product-price {
    margin: 0.25em 0;

    font-size: 2em;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    line-height: 100%;
}

.product-panel .product-price__symbol {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    font-size: 0.5em;
    line-height: 100%;
    padding-top: 0.2em;
}

.product-panel .product-category {
    margin-bottom: 1em;
}

.product-data {
    margin-top: auto;
    opacity: 0.7;
}

.restock-item {
    margin-top: 2em;
    margin-bottom: 0.5em;

    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.75em;
}

.restock-item::before {
    content: "";

    background-color: #bbb;
    width: 100%;
    height: 1px;

    position: absolute;
    top: calc(-0.5em - 0.5px);
    left: 0;
}

.restock-item__title {
    font-size: 1.25em;
}

.products-container .alert-message {
    margin-top: 0.5em;
}

.disable-hover {
    cursor: initial;
}

.delete-item-alert {
    margin-top: 0.5em;
}

.no-products .alert-message {
    margin: 0;
}
