.seller-page {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: min(80em, 100%);

    padding: 1em;
    padding-top: 0;
}

.seller-page .no-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin: 0;
}

.seller-page .no-products .title {
    padding: 0;
}

.seller-page__info-container {
    position: relative;

    padding: 0.25em 0 0.5em 0;
    margin-bottom: 0.75em;

    font-size: 1.25em;
}

.seller-page__info-container::after {
    content: "";

    background-color: #bbb;

    width: 100%;
    height: 1px;

    position: absolute;
    bottom: 0;
    left: 0;
}

.seller-page__seller {
    font-size: 1.5em;
    font-weight: bold;

    position: relative;
}
